POSTGRES_CONNECTIONS_URL=postgres://user:password@localhost:6032/connections
POSTGRES_IDS_URL=postgres://user:password@localhost:6032/ids
POSTGRES_TEST_URL=postgres://user:password@localhost:5432/testdb
REDIS_URL=redis://localhost:6379
REDPANDA_URL=localhost:19092
MONGO_URL=mongodb://localhost:6017
MONGODB_TEST_URL=mongodb://user:password@localhost:27017/testdb?authSource=admin
